{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <form method="post">
                {% if error %}
                    <div class="mt-3 alert alert-danger">Nom d'utilisateur ou mot de passe invalide</div>
                {% endif %}

                {% if app.user %}
                    <div class="mt-3">
                        Vous êtes connecté en tant qu'{{ app.user.username }} <a class="btn btn-outline-warning mt-2 mb-5" href="{{ path('app_logout') }}">Se déconnecter</a>
                    </div>
                {% endif %}
                
                <h1 class="h3 mb-3 font-weight-normal">Connectez-vous</h1>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" placeholder="Nom d'utilisateur" required autofocus>
                <br>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" placeholder="mot de passe" required>
                <br>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button class="btn btn-lg btn-primary" type="submit">Se connecter</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
