{% extends 'base.html.twig' %}

{% block title %}Histoire{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row mb-5">
    <div class="d-flex mt-4 mb-4"><h1 class="ms-5">Histoire de la ville</h1></div>
        <div class="col-4">
            <p><a href="https://fr.wikipedia.org/wiki/Le_Caire">Le Caire</a> « La Victorieuse » est la capitale de l'Égypte. Avec une population d'environ dix millions d'habitants, et de plus de 21 millions pour l'agglomération, elle est aussi la plus grande ville du pays et l'une des plus peuplées du continent africain1. Selon une estimation de 2015, elle serait également la sixième agglomération du monde.</p>
            <p>Bien qu'Al-Qāhira soit le nom officiel en arabe égyptien, elle est plus souvent appelée Masr (le nom arabe de l'Égypte) ou el-Qahéra. Carrefour du Moyen-Orient et de l'Afrique situé en amont du delta du Nil, sur les rives du fleuve ainsi que sur quelques îles adjacentes, elle se trouve au nord du pays, à 178 km au sud-est d'Alexandrie et 127 km à l'ouest du canal de Suez. Les habitants du Caire sont appelés les Cairotes.</p>
            <p>La ville actuelle présente une grande diversité urbanistique et architecturale. Le centre historique de la ville comprend le Vieux-Caire (quartier copte où se trouvent la forteresse de Babylone et le musée copte) ainsi que le quartier islamique, classé au patrimoine mondial de l'humanité, où se trouvent la citadelle de Saladin et le grand souk (Khân al-Khalili).</p>
            <p>Le Caire compte également de nombreuses mosquées, dont la mosquée Al-Azhar qui abrite également l'une des plus anciennes universités au monde. Centre névralgique de la ville moderne, la place Tahrir est devenue l'emblème de la révolution égyptienne de 2011. À l'ouest se trouve la ville de Gizeh et la nécropole antique de Memphis, avec ses trois grandes pyramides, dont la pyramide de Khéops. Au sud, se trouve le site de l'antique ville égyptienne de Memphis.</p>
        </div>

        <div class="col-1">
            <div style="border-left: 1px solid white;height: 100%;"></div>
        </div>

        <div class="col">
            <div class="row">
                <div class="col mt-3">
                    <img class="rounded img-fluid mb-3" src="https://media.routard.com/image/69/7/fb-le-caire.1595697.jpg" alt="" srcset="">
                    <img class="rounded img-fluid mb-3" src="https://geo.img.pmdstatic.net/fit/https.3A.2F.2Fprd-dst-website-statics.2Es3.2Eeu-west-1.2Eamazonaws.2Ecom.2Fcontent.2Fuploads.2F2021.2F01.2FLeCaire.2Ejpg/1200x630/quality/80/le-caire.jpg" alt="" srcset="">
                    <img class="rounded img-fluid mb-3" src="https://www.fr.lastminute.com/vol/lastminute/img/le_caire.jpg" alt="" srcset="">
                </div>
                <div class="col mt-3">
                    <img class="rounded img-fluid mb-3" src="https://www.constructioncayola.com/e-docs/00/01/E4/EE/volvo-envisage-construire-une-nouvelle-metropole-pres-caire_620x350.jpg" alt="" srcset="">
                    <img class="rounded img-fluid mb-3" src="https://img.static-af.com/images/meta/IDname/CITY-CAI-1?aspect_ratio=2:1&max_width=1920" alt="" srcset="">
                    <img class="rounded img-fluid mb-3" src="https://www.alibabuy.com/photos/library/1500/10797.jpg" alt="" srcset="">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}