{% extends 'base.html.twig' %}

{% block title %}Histoire{% endblock %}

{% block body %}

<div class="container-fluid">
    <br>
    <div class="d-flex"><h1 class="ms-5">Histoire de la ville</h1></div>
    <br>
    <br>
    <div class="row">
        <div class="col-4">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas cupiditate recusandae, ipsa perspiciatis eaque dicta incidunt voluptatem deserunt, officia facere facilis? Sunt, nostrum voluptatem est repudiandae saepe assumenda consequuntur esse.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas cupiditate recusandae, ipsa perspiciatis eaque dicta incidunt voluptatem deserunt, officia facere facilis? Sunt, nostrum voluptatem est repudiandae saepe assumenda consequuntur esse.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas cupiditate recusandae, ipsa perspiciatis eaque dicta incidunt voluptatem deserunt, officia facere facilis? Sunt, nostrum voluptatem est repudiandae saepe assumenda consequuntur esse.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas cupiditate recusandae, ipsa perspiciatis eaque dicta incidunt voluptatem deserunt, officia facere facilis? Sunt, nostrum voluptatem est repudiandae saepe assumenda consequuntur esse.</p>
        </div>

        <div class="col-1">
            <div style="border-left: 1px solid white;height: 500px;"></div>
        </div>

        <div class="col row">
            <div class="col-md-4"><img class="img-fluid rounded" src="http://picsum.photos/id/108/500/400" alt="img histoire de la ville"></div>
            <div class="col-md-4"><img class="img-fluid rounded" src="http://picsum.photos/id/18/500/400" alt="img histoire de la ville"></div>
            <div class="col-md-4"><img class="img-fluid rounded" src="http://picsum.photos/id/8/500/400" alt="img histoire de la ville"></div>
            <div class="col-md-4"><img class="img-fluid rounded" src="http://picsum.photos/id/1/500/400" alt="img histoire de la ville" srcset=""></div>
            <div class="col-md-4"><img class="img-fluid rounded" src="http://picsum.photos/id/123/500/400" alt="img histoire de la ville" srcset=""></div>
            <div class="col-md-4"><img class="img-fluid rounded" src="http://picsum.photos/id/42/500/400" alt="img histoire de la ville" srcset=""></div>
        </div>
    </div>
</div>

{% endblock %}